<?xml version="1.0"?>

<launch>
  <arg name="project" default="path_generator" />
  
  <arg name="map_file" default="$(find path_generator)/map/map.yaml"/>
  
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
   
  <node pkg="$(arg project)" type="$(arg project)" name="$(arg project)" output="screen" respawn="true" />
  
  <node pkg="rviz" type="rviz" name="rviz_$(arg project)" args="-d $(find path_generator)/launch/Map.rviz" />
  
</launch>
